version: '3'

services:
  namenode:
    image: vega90/hadoop-namenode:1.0
    container_name: namenode
    hostname: namenode
    command: bash -c /etc/start.sh
    networks:
      - hadoop          
    ports:
      - 9000:9000 # namenode
      - 9870:9870 # hadoop
      - 8888:8888 # jupyter
      - 10000:10000 # hive
      - 10002:10002 # HiveServer2
      - 41414:41414 # avro
    volumes:
        - LOCAL_PATH:/media/notebooks
    tty: true
    stdin_open: true
  
  yarnmanager:
    image: vega90/hadoop-yarn:1.0
    container_name: yarnmanager
    hostname: yarnmanager
    networks:
      - hadoop    
    ports:
      - 8088:8088 # Resource Manager
      - 19888:19888 # JobHistory
    
  datanode1:
    image: vega90/hadoop-datanode:1.0
    container_name: datanode1
    hostname: datanode1
    networks:
      - hadoop    
    ports:
      - 50020:50020 
      - 50075:50075
      - 8042:8042
      - 9864:9864
      - 9866:9866
    
  datanode2:
    image: vega90/hadoop-datanode:1.0
    container_name: datanode2
    hostname: datanode2
    networks:
      - hadoop

  datanode3:
    image: vega90/hadoop-datanode:1.0
    container_name: datanode3
    hostname: datanode3
    networks:
      - hadoop

  datanode4:
    image: vega90/hadoop-datanode:1.0
    container_name: datanode4
    hostname: datanode4
    networks:
      - hadoop
 
networks:
    hadoop:
